@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@media (max-width: 960px) {

  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {

  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {

  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}

body {
  background-color: white;
  font-family: 'Poppins';
  font-size: 6;
  color: rgb(56, 0, 185);
  line-height: 1em;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(7, 94, 100);
  font-size: small;
  line-height: 1em;
}

button {
  line-height: 1em;
}

a {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
}

img {
  width: 200px;
  border-radius: 25px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  padding: 3em;
  margin: 2em;
  background: white;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 25px;
  box-shadow: 5px 1px 25px rgb(82, 82, 82);
}

.list-inline>li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
